@use "../../abstracts/colors";
@use "../../abstracts/mixins";

.footer{
    height: 0;
    width: 100%;
    @include mixins.flexCenter;
    
    &__name{
        color: map-get(colors.$baseColors,"primary-seventh");
    }
}