*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}

@keyframes popup {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateY(0rem);
  }
}
body {
  background-color: #000000;
  background-image: radial-gradient(circle, transparent 1rem, #000000 1rem), linear-gradient(#F9B208 0.5rem, transparent 0.5rem), linear-gradient(90deg, #F9B208 0.5rem, transparent 0.5rem);
  background-size: 5rem 5rem;
  background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  min-height: 100vh;
  padding: 4rem;
  padding-bottom: 0;
}

.card {
  min-height: calc(100vh - 8rem - 4rem);
  padding: 4rem;
  max-width: 150rem;
  background: #FFFFFF;
  border-radius: 2rem 2rem 0 0;
  animation-name: popup;
  animation-duration: 0.6s;
}
.card__detail {
  position: absolute;
  font-size: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0.01;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  padding: 4rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 8rem;
  max-width: 150rem;
}
.header__logo {
  font-size: 8rem;
  color: #F9B208;
  transition: all 2s ease;
}
.header__logo:hover {
  cursor: pointer;
}
.header__logo:active {
  transform: rotate(360deg);
}
.header__brandName {
  font-size: 4rem;
  font-weight: 800;
}

.leftSection {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.leftSection > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
.leftSection__card {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.leftSection__card:hover .leftSection__cardImg {
  filter: sepia(80%) blur(1px);
}
.leftSection__card:active .leftSection__cardImg {
  filter: sepia(80%);
}
.leftSection__cardDate {
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 1;
}
.leftSection__cardTitle {
  position: absolute;
  bottom: 4%;
  left: 4%;
  z-index: 1;
  font-size: 90%;
}
.leftSection__cardImg {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem;
  filter: sepia(10%) blur(0) brightness(80%);
  transition: filter 0.2s;
}
.leftSection__card::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.411);
  width: 100%;
  border-radius: 0 2rem 0 0;
  height: 23%;
  z-index: 0;
}

.rightSection {
  width: 45%;
}
.rightSection__card {
  min-width: 100%;
  aspect-ratio: 7/3;
  border-radius: 0.5rem;
  position: relative;
  color: #FFFFFF;
  overflow: hidden;
}
.rightSection__cardDate {
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 1;
}
.rightSection__cardTitle {
  position: absolute;
  bottom: 4%;
  left: 4%;
  z-index: 1;
}
.rightSection__cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  filter: sepia(10%) blur(0) brightness(80%);
}
.rightSection__Text {
  padding: 1.5rem;
  font-size: 1.9rem;
  font-weight: 300;
  margin-bottom: 4rem;
  height: 30rem;
  overflow-y: scroll;
}
.rightSection__buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.rightSection__sourceButton {
  font-size: 2.5rem;
  text-decoration: none;
  color: #000000;
}
.rightSection__sourceButton:hover {
  text-decoration: underline;
}
.rightSection__sourceButton:active {
  transform: translateX(2px);
}

.footer {
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 187.5rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(120%);
  }
  .card {
    border-radius: 2rem;
    min-height: calc(50vh - 8rem - 4rem);
  }
}
@media screen and (max-width: 75rem) {
  .card {
    width: 200rem;
  }
  .main {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .leftSection {
    width: 100%;
  }
  .rightSection {
    width: 100%;
  }
  .rightSection__buttonWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .rightSection__Text {
    overflow: visible;
    height: auto;
  }
}
@media screen and (max-width: 50rem) {
  .leftSection__cardTitle {
    font-size: 65%;
  }
}
@media screen and (max-width: 37.5rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  .card {
    border-radius: 2rem;
  }
  .main {
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .leftSection {
    width: 100%;
  }
  .leftSection__card::after {
    height: 40%;
  }
  .rightSection {
    width: 100%;
  }
  .rightSection__buttonWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
