@use "../../abstracts/colors";
@use "../../abstracts/vars";
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    // width: 100%;
    // height: 20%;
    height: map-get(vars.$vhCalc, "heightOfHeader");
    max-width: 150rem;

    &__logo{
        font-size: 8rem;
        color: map-get(colors.$baseColors,"secondary-color");
        transition: all 2s ease;

        &:hover{
            cursor: pointer;
        }

        &:active{
            transform: rotate(360deg);
        }
    }

    
    &__brandName{
        font-size: 4rem;
        font-weight: 800;
    }
}