@use "../../abstracts/colors";
@use "../../abstracts/vars";
@use "../../abstracts/mixins";

.header{
    @include mixins.flexCenter;
    gap: 2rem;
    height: map-get(vars.$vhCalc, "heightOfHeader");
    max-width: 150rem;

    &__logo{
        font-size: 8rem;
        color: map-get(colors.$baseColors,"secondary-color");
        transition: all 2s ease;

        &:hover{
            cursor: pointer;
        }

        &:active{
            transform: rotate(360deg);
        }
    }
    
    &__brandName{
        font-size: 4rem;
        font-weight: 800;
    }
}