@use "../../abstracts/mixins";
@use "../../abstracts/animations";
.card{
    width: 40rem;
    aspect-ratio: 1/1;
    @include mixins.flexCenter;
    border-radius: 0.5rem;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5rem;
    @include animations.a-popup;

    &__heading{
        font-size: 150%;
        text-transform: uppercase;
    }
}