$baseColors: (
    primary-color: #F7FD04,
    secondary-color: #F9B208,
    third-color: #F98404,
    fourth-color: #FC5404,
    fifth-color: #FFFFFF,
    sixth-color: #ececec,
    seventh-color: #000000
);