@use "./colors";
@use "./vars";
@use "./mixins";

@media screen and (min-width: 187.5rem){
    body{
        @include mixins.flexCenter;
        transform: scale(120%);
    }

    .card{
        border-radius: 2rem;
        @include mixins.cardHeightResponsive4K;
    }
}

@media screen and (max-width: 75rem) {

    .card{
        width: 200rem;
    }

    .main{
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .leftSection{
        width: 100%;
    }

    .rightSection{
        width: 100%;

        &__buttonWrapper{
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }

        &__Text{
            overflow: visible;
            height: auto;
        }
    }

}

@media screen and (max-width: 50rem) {
    
    .leftSection__cardTitle{
        font-size: 65%;
    }
}

@media screen and (max-width: 37.5rem) {

    body{
        @include mixins.flexCenter;
        margin-bottom: 4rem;
    }

    .card{
        border-radius: 2rem;
    }

    .main{
        padding: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .leftSection{
        width: 100%;

        &__card::after{
            height: 40%;
        }
    }

    .rightSection{
        width: 100%;

        &__buttonWrapper{
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }

    
}