@use "../../abstracts/colors";
.leftSection{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 2rem;

    &__card{
        width: 45%;
        height: 50%;
        border-radius: 0.5rem;
        position: relative;
        background: map-get(colors.$baseColors,"sixth-color");
    
        &Date{
            position: absolute;
            top: 4%;
            right: 4%;
        }

        &Title{
            position: absolute;
            bottom: 4%;
            left: 4%;
        }
    }

}