@use "../../abstracts/colors";
@use "../../abstracts/mixins";

.leftSection{
    width: 45%;
    height: 100%;
    @include mixins.flexCenter;
    align-items: flex-start;

    &> div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
    }
    &__card{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 0.5rem;
        color: map-get(colors.$baseColors,"fifth-color");
        overflow: hidden;
        position: relative;
        @include mixins.flexCenter;
        cursor: pointer;

        &:hover &Img{
            filter: sepia(80%) blur(1px);
        }

        &:active &Img{
            filter: sepia(80%);

        }       

        &Date{
            position: absolute;
            top: 4%;
            right: 4%;
            z-index: 1;
        }

        &Title{
            position: absolute;
            bottom: 4%;
            left: 4%;
            z-index: 1;
            font-size: 90%;
        }

        &Img{
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 0.5rem;
            filter: sepia(10%) blur(0) brightness(80%);
            transition: filter 0.2s;            
        }

        &::after{
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.411);
            width: 100%;
            border-radius: 0 2rem 0 0;
            height: 23%;
            z-index: 0;
        }

    }

}