.score{
    font-size: 500%;
    background: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    font-weight: 300;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}